<section class="section featured-venues">
    <div class="container">
        <div class="section-heading aos">
            <h2>Nos recommendations <span>d'evenement</span></h2>
            <p class="sub-title">Advanced sports venues offer the latest facilities, dynamic and unique environments for enhanced badminton performance.</p>
        </div>
        <div class="col-lg-25 col-md-13 d-flex">
            <div class="featured-venues-slider">
                <div class="row">
                    <div class="col-md-4" *ngFor="let event of recommandations.slice(0, 3)">
                        <div class="card featured-venues-item aos">
                            <a href="venue-details.html">
                                <img class="card-img-top" [src]="'http://localhost:4200/assets/img/events/'+ event.image" alt="imageevent">
                            </a>
                            <div class="card-body">
                                <div class="fav-item-venues">
                                    <span class="tag tag-blue">Featured</span>
                                    <h5 class="tag tag-primary">$450<span>/hr</span></h5>
                                </div>
                                <div class="list-reviews">
                                    <div class="d-flex align-items-center">
                                        <span class="rating-bg">{{ event.nbParticipants }}</span><span>nombre de participant</span>
                                    </div>
                                    <a href="javascript:void(0)" class="fav-icon">
                                        <i class="feather-heart"></i>
                                    </a>
                                </div>
                                <h3 class="card-title">
                                    <a href="venue-details.html">{{ event.nomevent }}</a>
                                </h3>
                                <p class="card-text">{{ event.nomevent }}</p>
                                <ul class="listing-details-group">
                                    <li>
                                        <span>
                                            <i class="feather-map-pin"></i>{{ event.location }}
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="feather-calendar"></i>Date de l'evenemnt : <span class="primary-text">{{ event.dateDebut }}</span>
                                        </span>
                                    </li>
                                </ul>
                                <div class="listing-button">
                                    <a href="#" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all text-center aos">
            <a href="listing-grid.html" class="btn btn-secondary d-inline-flex align-items-center">View All Featured<span class="lh-1"><i class="feather-arrow-right-circle ms-2"></i></span></a>
        </div>
    </div>
</section>
