* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Montserrat", "Fraunces", "Open Sans", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2ebe3;
}
.poster-img2 {
  display: none;
}

.card {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  border-radius: 30px;
  background-color: #fff;
}

.poster-img1 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.left-card,
.right-card {
  flex: 1;
}

.right-card {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

/* .item-name,
.main-title,
.summary,
.price,
.btn {
  flex: 1;
} */

.item-name {
  font-family: "open sans";
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 5px;
  color: #6c7289;
}

.main-title {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2.5rem;
  color: #1c232b;
  margin: 0.5em 0;
}

.summary {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: #6c7289;
}

.price {
  display: inline-flex;
  align-items: center;
}
.current-price {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2.5rem;
  color: #3c8067;
  margin: 0.5em 0.5em 0.5em 0;
}

.old-price {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  color: #6c7289;
}

.btn {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  color: #fff;
  background-color: #3c8067;
  padding: 1em;
  border-radius: 10px;
  border:none;
  transition: 0.5s;
}
.btn:hover {
  background-color: #1e3d32;
}

