<div class="main-wrapper blog">




    <div class="breadcrumb breadcrumb-list mb-0">
        <span class="primary-right-round"></span>
        <div class="container">
            <h1 class="text-white">Blog Details</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div>


    <div class="content blog-details">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">

                    <div class="featured-venues-item">
                        <div class="listing-item blog-info">
                            <div class="listing-img">
                                
                                    <img src="../../../assets/img/blog/blog-04.jpg" class="img-fluid" alt="Venue">
                             
                                <div class="fav-item-venues news-sports">
                                    <span class="tag tag-blue">Badminton</span>
                                </div>
                            </div>
                            <div class="listing-content news-content">
                                <div
                                    class="listing-venue-owner blog-detail-owner d-lg-flex justify-content-between align-items-center">
                                    <div class="navigation">
                                        <a href="javascript:void(0)"><img
                                                src="../../../../../../assets/img/profiles/avatar-01.jpg" alt="User">{{
                                            publication.user?.firstname}} {{publication.user?.lastname}}</a>
                                        <span><i class="feather-calendar">{{ publication.dateCreation}}</i></span>
                                        <span><i class="far fa-comment-alt"></i>{{comments.length}} Comments</span>
                                    </div>
                                    <a class="btn btn-primary"><img src="../../../assets/img/icons/grid.svg" class="img-fluid"
                                            alt="Icon">Rules of Game</a>
                                </div>

                                <h2 class="listing-title">
                                    {{ publication.sujet }}
                                </h2>
                                <div [innerHTML]="publication.contenu"></div>
                            </div>

                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                              
                                        <a href="#" (onclick)="likePublication(publication.numPub||0)" class="feather-heart fea "></a>{{publication.likes}}
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="d-flex justify-content-lg-end align-items-center social-medias-wrapper">
                                    <h6>Share on :</h6>
                                    <ul class="social-medias d-flex">
                        
                                        <li class="linkedin"><a [href]="'https://www.facebook.com/sharer/sharer.php?u=' + encodeURL(currentUrl)"><i class="fa-brands fa-facebook"></i></a></li>
                                        <li class="twitter"><a [href]="'https://twitter.com/intent/tweet?u=' + encodeURL(currentUrl)" ><i class="fa-brands fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="blog-comments">
                        <div class="dull-bg">
                            <h4 class="mb-0"> Comments ({{ comments.length }}) </h4>
                            <hr>
                            <ul>
                                <li *ngFor="let comment of comments"
                                    class="author-group d-md-flex align-items-center justify-content-start">
                                    <div class="profile-pic">
                                        <a href="javascript:void(0);" class="d-inline-block"><img alt="User"></a>
                                    </div>
                                    <div class="info">
                                        <div class="head d-flex align-items-center justify-content-start">
                                            <h5>{{ comment.user?.firstname}} {{comment.user?.lastname}}</h5>
                                            <i class="fa-solid fa-circle"></i>
                                            <span>{{ comment.datecm }}</span>
                                            <span *ngIf="comment.sentiment === 'Neutral'">😑Neutral</span>
                                            <span *ngIf="comment.sentiment === 'Positive'">😊Positive</span>
                                            <span *ngIf="comment.sentiment === 'Negative'">😡Negative</span>
                                           
                                            <button 
                                            *ngIf="comment.user?.firstname === newComment.user?.firstname && comment.user?.lastname === newComment.user?.lastname"
                                            (click)="deletecomment(comment.idcmt || 0)"
                                            style="margin-left: 50px; border: none;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </button>
                                  
                                        </div>
                                        <p>{{ comment.contenucm }}</p>
                                       
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="blog-comments">
                        <form (ngSubmit)="addCommentToPublication(newComment.publication?.numPub || 0)"
                              [formGroup]="newCommentForm">
                    
                            <!-- Display error message for bad words -->
                            <div *ngIf="newCommentForm.controls['contenucm'].dirty && newCommentForm.controls['contenucm'].value && newCommentForm.controls['contenucm'].errors && newCommentForm.controls['contenucm'].errors"
                            class="alert alert-danger">
                           Comment contains inappropriate language.
                       </div>
                    
                            <div class="dull-bg">
                                <hr>
                                <ul>
                                    <li class="author-group d-md-flex align-items-center justify-content-start">
                                        <div class="profile-pic">
                                            <a href="javascript:void(0);" class="d-inline-block"><img alt="User"></a>
                                        </div>
                                        <div class="info">
                                            <div class="head d-flex align-items-center justify-content-start">
                                                <h5>{{ newComment.user?.firstname}} {{newComment.user?.lastname}}</h5>
                                            </div>
                                            <textarea  [(ngModel)]="newComment.contenucm"  class="form-control" id="comments" rows="3"
                                                      placeholder="Enter Comments"
                                                      formControlName="contenucm"></textarea>
                                                      <button type="submit" class="btn btn-gradient" [disabled]="!newCommentForm.valid">
                                                        Submit
                                                    </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    
                    

                 
                </div>
            </div>
        </div>
        <section class="section dull-bg similar-list">
            <div class="container">
                <h2 class="text-center mb-40">Similar Listing</h2>
                <div class="row">
                    <div class="featured-slider-group ">
                        <div class="  featured-venues-slider owl-theme">
                            <div *ngFor=" let simpublication of publications" class="featured-venues-item">
                                <div *ngIf="simpublication.category === publication.category && simpublication.sujet !== publication.sujet" class="listing-item mb-0">
                                    <div class="listing-img">
                                        <a href="blog-details.html">
                                            <img alt="Venue">
                                        </a>
                                        <div class="fav-item-venues news-sports">
                                            <span class="tag tag-blue">Badminton</span>
                                            <div class="list-reviews coche-star">
                                                <a href="javascript:void(0)" class="fav-icon">
                                                    <i class="feather-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-content news-content">
                                        <div class="listing-venue-owner">
                                            <div class="navigation">
                                                <a href="javascript:void(0)"><img
                                                         alt="User"> {{simpublication.user?.firstname}} {{simpublication.user?.lastname}}</a>
                                                <span><i class="feather-calendar"></i>{{simpublication.dateCreation}}</span>
                                            </div>
                                        </div>
                                        <h3 class="listing-title blog-title">
                                            <a routerLink="/blogdetails/{{ simpublication.numPub}}">
                                                {{simpublication.sujet}}</a>
                                        </h3>
                                        <div class="listing-button read-new">
                                            <ul class="nav">
                                                <li><i class="feather-heart"></i>{{simpublication.likes}}</li>
                                            </ul>
                                            <span><img src="../../../assets/img/icons/clock.svg" alt="Icon">10 Min To Read</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


  <app-footer></app-footer>

</div>
