<app-navbar></app-navbar>
  <div class="breadcrumb breadcrumb-list mb-0">
    <span class="primary-right-round"></span>
    <div class="container">
      <h1 class="text-white">Events</h1>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/events">Events</a></li>
      </ul>
    </div>
  </div>
  
  <div class="content">
    <div class="container">
      <section class="services">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let event of listevents">
            <div class="listing-item">
              <div class="listing-img">
                <a [routerLink]="'/event-details/' + event.numevent">
                  <a href="coach-booking.html" class="academy-img">
                    <td><img [src]="'http://localhost:4200/assets/img/events/'+ event.image" alt="imageevent" style="max-width: 300px; max-height: 300px;" ></td>
                    </a>
                </a>
                <div class="date-info text-center">
                  <h2>{{ event.dateDebut | date:'dd' }}</h2>
                  <h6>{{ event.dateDebut | date:'MMM, yyyy' }}</h6>
                </div>
              </div>
              <div class="listing-content">
                <ul class="d-flex justify-content-start align-items-center">
                  <li>
                    <i class="feather-clock"></i>{{ event.dateDebut | date:'hh:mm a' }}
                  </li>
                  <li>
                    <i class="feather-map-pin"></i>{{ event.location }}
                  </li>
                </ul>
                <h4 class="listing-title">
                  <a [routerLink]="'/detailevent/' + event.numevent">{{ event.nomevent }}</a>
                  <td>
                    <button class="btn btn-outline-success" [routerLink]="['/detailevent',event.numevent]">Voir plus</button>
                    </td>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </section>
       <!-- Pagination -->
       <div class="row justify-content-center">
        <div class="col-auto">
          <button class="btn btn-secondary" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
        </div>
        <div class="col-auto">
          <ng-container *ngFor="let page of totalPagesArray">
            <button class="btn btn-secondary" (click)="goToPage(page - 1)" [class.active]="currentPage === page - 1">{{ page }}</button>
          </ng-container>
        </div>
        <div class="col-auto">
          <button class="btn btn-secondary" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
        </div>
      </div>
      <!-- End Pagination -->
    </div>
  </div>
  