<!--<section class="hero-section">
    <div class="banner-cock-one">
        <img src="assets/img/icons/banner-cock1.svg" alt="Banner">
    </div>
    <div class="banner-shapes">
        <div class="banner-dot-one">
            <span></span>
        </div>
        <div class="banner-cock-two">
            <img src="assets/img/icons/banner-cock2.svg" alt="Banner">
            <span></span>
        </div>
        <div class="banner-dot-two">
            <span></span>
            
        </div>
    </div>
    <section class="hero-section" style="margin-top : 100px; background-color: black; ">

    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center w-100">
                <div class="col-lg-7 col-md-10 mx-auto">
                    <div class="section-search aos">
                        <h4>World Class Badminton Coaching & Premium Courts</h4>
                        <h1>Choose Your <span>Coaches</span> and Start Your Training</h1>
                        <p class="sub-info">Unleash Your Athletic Potential with Expert Coaching,
                            State-of-the-Art Facilities, and Personalized Training Programs.</p>
                            <div style="border: 1px solid #ccc; border-radius: 5px; padding: 5px; width: 805px; height: 612px;">
                                <iframe src="https://www.meteoblue.com/en/weather/widget/three/aryanah_tunisia_2473247?geoloc=fixed&nocurrent=0&noforecast=0&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark" frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%; height: 100%;"></iframe>
                                <div> --><!-- DO NOT REMOVE THIS LINK -->
                                    <!--<a href="https://www.meteoblue.com/en/weather/week/aryanah_tunisia_2473247?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div> -->
                           <!-- </div>
                            
                                <div class="search-box">
                                    <form action="#">
                                        <div class="search-input line d-flex align-items-center">
                                            <div class="form-group mb-3 me-3">
                                                <label class="form-label me-2">Search for</label>
                                                <select class="select" [(ngModel)]="selectedTypeTerrain" name="typeTerrain">
                                                    <option value="" disabled selected>Choose Sport</option>
                                                    <option *ngFor="let option of typeTerrainOptions" [value]="option">{{ option }}</option>
                                                </select>
                                            </div>                                        
                                            <div class="form-group mb-3 me-3">
                                                <label class="form-label me-2">Select Start Time</label>
                                                <input type="datetime-local" class="form-control date" id="start-time" name="startTime" [(ngModel)]="startTime">
                                            </div>
                                            <div class="form-group mb-3 me-3">
                                                <label class="form-label me-2">Select End Time</label>
                                                <input type="datetime-local" class="form-control date" id="end-time" name="endTime" [(ngModel)]="endTime">
                                            </div>
                                            <div class="search-btn">
                                                <button class="btn btn-primary search-btn" (click)="navigateToReservation()" [routerLink]="['/choisirTerrain',startTime,endTime,selectedTypeTerrain]" type="submit">
                                                    <i class="feather-search"></i> Search
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="search-input">
                                    <div class="form-group mb-0">
                                        <label>Where </label>
                                        <select class="form-control select">
                                            <option value>Choose Location</option>
                                            <option>Germany</option>
                                            <option>Russia</option>
                                            <option>France</option>
                                            <option>UK</option>
                                            <option>Colombia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search-btn">
                                    <button class="btn" type="submit"><i class="feather-search"></i><span
                                            class="search-text">Search</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-imgs text-center aos" >
                        <img class="img-fluid" src="assets/img/bg/banner-right.png" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->