<section class="hero-section">
    <div class="banner-cock-one">
        <img src="assets/img/icons/banner-cock1.svg" alt="Banner">
    </div>
    <div class="banner-shapes">
        <div class="banner-dot-one">
            <span></span>
        </div>
        <div class="banner-cock-two">
            <img src="assets/img/icons/banner-cock2.svg" alt="Banner">
            <span></span>
        </div>
        <div class="banner-dot-two">
            <span></span>
            
        </div>
    </div>
    <section class="hero-section" style="margin-top : 100px; background-color: black; ">

    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center w-100">
                <div class="col-lg-7 col-md-10 mx-auto">
                    <div class="section-search aos">
                        
                      
                        <h4>World Class Badminton Coaching & Premium Courts</h4>
                        <h1>Choose Your <span>Coaches</span> and Start Your Training</h1>
                        <p class="sub-info">Unleash Your Athletic Potential with Expert Coaching,
                            State-of-the-Art Facilities, and Personalized Training Programs.</p>
                            <div style="border: 1px solid #ccc; border-radius: 5px; padding: 5px; width: 805px; height: 612px;">
                                <iframe src="https://www.meteoblue.com/en/weather/widget/three/aryanah_tunisia_2473247?geoloc=fixed&nocurrent=0&noforecast=0&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark" frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%; height: 100%;"></iframe>
                                <div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/aryanah_tunisia_2473247?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
                                                                      
                                           </div>
  
  
                                           <h3 class="border-bottom text-center mb-4">Most Reserved Terrains</h3>
                                           <div class="row">
                                             <!-- First most reserved terrain (middle) -->
                                             <div class="col-md-4 text-center mt-5">
                                               <div class="card mb-4 box-shadow">
                                                 <div class="medal silver-medal" ></div>
                                                 <img class="card-img-top" [src]="url + mostReser[1]?.imageTerrain" alt="Second Most Reserved Terrain Image">
                                                 <div class="card-body">
                                                   <h5 class="card-title" class="fa-solid fa-medal" style="font-size: 24px; color: #C0C0C0;"> 2 nd Place</h5>
                                              
                                                 <h5 class="card-text"  >{{  mostReser[1]?.nomTerrain }} </h5>
                                                 </div>
                                               </div>
                                             </div>
                                             <!-- Second most reserved terrain (left) -->
                                             <div class="col-md-4 text-center">
                                               <div class="card mb-4 box-shadow">
                                                 <div class="medal gold-medal"></div>
                                                 <img class="card-img-top" [src]="url + mostReser[0]?.imageTerrain" alt="Most Reserved Terrain Image">
                                                 <div class="card-body">
                                                   <h5 class="card-title" class="fa-solid fa-medal" style="font-size: 24px; color: #FFD700;"> 1 st Place</h5>
                                                   <h5 class="card-text"  >{{ mostReser[0]?.nomTerrain }}</h5>
                                                 </div>
                                               </div>
                                             </div>
                                             <!-- Third most reserved terrain (right) -->
                                             <div class="col-md-4 text-center mt-5">
                                               <div class="card mb-4 box-shadow">
                                                 <div class="medal bronze-medal"></div>
                                                 <img class="card-img-top" [src]="url + mostReser[2]?.imageTerrain" alt="Third Most Reserved Terrain Image">
                                                 <div class="card-body">
                                                   <h5 class="card-title" class="fa-solid fa-medal" style="font-size: 24px; color: #CD7F32;"> 3 rd Place</h5>
                                                   <h5 class="card-text" >{{ mostReser[2]?.nomTerrain }}</h5>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                           
                            <div class="search-box">
                                    <form action="#">
                                        <div class="search-input line d-flex align-items-center">
                                            <div class="form-group mb-3 me-3">
                                                <label class="form-label me-2">Search for</label>
                                                <select class="select" [(ngModel)]="selectedTypeTerrain" name="typeTerrain">
                                                    <option value="" disabled selected>Choose Sport</option>
                                                    <option *ngFor="let option of typeTerrainOptions" [value]="option">{{ option }}</option>
                                                </select>
                                            </div>    
                                            <div class="form-group mb-3 me-3">
                                                <label class="form-label me-2">Select Time</label>
                                                <input type="date" class="form-control date" id="time" name="Time" [(ngModel)]="time">
                                            </div>                                    
                                            <div class="form-group mb-3 me-3">
                                                <label class="form-label me-2">Select Start Time</label>
                                                <input type="time" class="form-control date" id="start-time" name="startTime" [(ngModel)]="startTime">
                                            </div>
                                            <div class="form-group mb-3 me-3">
                                                <label class="form-label me-2">Select End Time</label>
                                                <input type="time" class="form-control date" id="end-time" name="endTime" [(ngModel)]="endTime">
                                            </div>
                                            
                                            <div class="search-btn" >
                                                <button class="btn btn-primary search-btn" (click)="navigateToReservation()" [routerLink]="['/choisirTerrain',time+'T'+startTime,time+'T'+endTime,selectedTypeTerrain]" type="submit">
                                                    <i class="feather-search"></i> Search
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            
                            
                          </div>

                <div class="col-lg-5">
                    <div class="banner-imgs text-center aos" >
                        <img class="img-fluid" src="assets/img/bg/banner-right.png" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>