
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidemenu></app-sidemenu>
        </div>
          <!-- Main Content -->
          <div class="col-md-9">
            <h2>Liste des Equipes</h2>

<div class="breadcrumb mb-0">
    <span class="primary-right-round"></span>
    <div class="container">
        <h1 class="text-white">List des Equipes</h1>
   
    </div></div>
<div class="table-responsive">
    <table class="table table-borderless datatable">
        <thead class="thead-light">
            <button class="btn btn-primary" [routerLink]="['/addEquipe']">ajouter une equipe </button>

            <tr>
                <th>Id du equipe</th>
                <th>nom equipe</th>
                <th> chef d'Equipe</th>
                <th> nbMemEquipe</th>
                <th>classement</th>
            </tr>
        </thead>
        <tbody>
            <ng-container  *ngFor = "let e of equipes">
                <tr>
                    <td> {{e.numequipe}} </td>
                    <td>
                        <h2 class="table-avatar">
                            <a href="#" class="avatar avatar-sm  flex-shrink-0"></a>
                            <span class="table-head-name flex-grow-1">
                                <a href="#">{{ e.nomEquipe }}</a>
                            </span>
                        </h2>
                    </td>
                    <td>{{e.chefEquipe?.nom}}</td>
                    <td>{{ e.nbMemEquipe }}</td>
                    <td>{{ e.classement }}</td>
                  
                    <td>
                        <!-- Buttons for actions -->
                        <button class="btn btn-primary"[routerLink]="['/updateEquipe',e.numequipe,e.chefEquipe?.userId]">Edit</button>
                        <button class="btn btn-danger"*ngIf="e.numequipe" (click)="deleteEquipe(e.numequipe)">Delete</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<div class="row justify-content-between align-items-center">
      
    <div class="col-auto">
        <button class="btn btn-secondary" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
    </div>
    <div class="col-auto">
        <ng-container *ngFor="let page of totalPagesArray">
            <button class="btn btn-secondary" (click)="goToPage(page - 1)" [class.active]="currentPage === page - 1">{{ page }}</button>
        </ng-container>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
    </div>
</div>
<app-footer></app-footer>
