<div class="container">
    <app-navbar></app-navbar>
</div>

<div class="content">
</div>
<div class="container">

<div class="page-content">
  <div class="participation-history">
    <p *ngIf="participationHistory.length === 0" class="no-events-message">Aucun événement dans l'historique de participation.</p>
    <div *ngIf="participationHistory.length > 0" class="events-list">
      <h2>Historique de participation</h2>
      <ul>
        <li *ngFor="let event of participationHistory" class="event-item">
          <div class="event-details">
            <h3>{{ event.nomevent }}</h3>
            <p>Date de début : {{ event.dateDebut }}</p>
            <p>Location : {{ event.location }}</p>
            <!-- Ajoutez d'autres détails de l'événement ici -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
