<section class="section work-section">
    <div class="work-cock-img">
        <img src="assets/img/icons/work-cock.svg" alt="Icon">
    </div>
    <div class="work-img">
        <div class="work-img-right">
            <img src="assets/img/bg/work-bg.png" alt="Icon">
        </div>
    </div>
    <div class="container">
        <div class="section-heading aos" >
            <h2> Un <span>ESPRIT</span> sportif sans pareil </h2>
            <p class="sub-title">Trouvez ce qui vous passionne et plongez dans l'action.</p>
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-grid w-100 aos" >
                    <div class="work-icon">
                        <div class="work-icon-inner">
                            <img src="assets/img/icons/work-icon1.svg" alt="Icon">
                        </div>
                    </div>
                    <div class="work-content">
                        <h5>
                            <a routerLink="/events">Découvrez nos evenement</a>
                        </h5>
                        <p>Explorez nos événements passionnants. De conférences stimulantes à des compétitions palpitantes, 
                            nous avons quelque chose pour tout le monde.</p>
                        <a class="btn" routerLink="/events">
                            Decouvrez <i class="feather-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-grid w-100 aos" >
                    <div class="work-icon">
                        <div class="work-icon-inner">
                            <img src="assets/img/icons/work-icon2.svg" alt="Icon">
                        </div>
                    </div>
                    <div class="work-content">
                        <h5>
                            <a routerLink="/addEquipe">Formez votre équipe</a>
                        </h5>
                        <p>Préparez-vous pour nos tournois en créant votre équipe dès maintenant. Invitez vos amis à se joindre à vous pour une expérience de jeu inoubliable.</p>
                        <a class="btn" routerLink="/addEquipe">
                            Créez une équipe <i class="feather-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-grid w-100 aos" >
                    <div class="work-icon">
                        <div class="work-icon-inner">
                            <img src="assets/img/icons/work-icon3.svg" alt="Icon">
                        </div>
                    </div>
                    <div class="work-content">
                        <h5>
                            <a  routerLink="/terrains"> Découvrez nos terrains</a>
                        </h5>
                        <p>Explorez notre sélection de terrains de sport pour vos réservations. Trouvez l'endroit idéal pour votre prochain match et réservez-le dès maintenant.</p>
                        <a class="btn" routerLink="/terrains">
                            Découvrez maintenant  <i class="feather-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
