<app-navbar></app-navbar>
<div class="breadcrumb mb-0">
    <span class="primary-right-round"></span>
    <div class="container">
    <h1 class="text-white">ajout d'une equipe</h1>
    <ul>
    
      <form [formGroup]="AddEquipeForm"> <!-- Updated formGroup name -->
        <!--h5>Identifiant du user</h5>
        <input class="form-control" id="chefEquipe" formControlName="chefEquipe">
          <input  *ngFor="let chef of chefEquipeList" [value]="chef.userId"-->
    <h5>Nom d'Équipe</h5> <!-- Adjusted form control label -->
    <input class="form-control" type="text" formControlName="nomEquipe"> <!-- Updated formControlName -->
 
    <div class="alert alert-danger" *ngIf="AddEquipeForm.get('nomEquipe')?.errors?.['required'] && AddEquipeForm.get('nomEquipe')?.touched">
      Le champ Nom d'Équipe est obligatoire.
    </div>
   
    <h5>Nombre de Membres dans l'Équipe</h5> <!-- Adjusted form control label -->
    <input class="form-control" type="text" formControlName="nbMemEquipe"> <!-- Updated formControlName -->
 
    <div class="alert alert-danger" *ngIf="AddEquipeForm.get('nbMemEquipe')?.errors?.['required'] && AddEquipeForm.get('nbMemEquipe')?.touched">
      Le champ Nombre de Membres dans l'Équipe est obligatoire.
    </div>
    <h5>Sélectionner un tournoi</h5>
    <select class="form-control" formControlName="tournoi">
      <option *ngFor="let tournoi of tournois" [value]="tournoi?.numTournoi">{{ tournoi?.numTournoi  }}</option>
    </select>    
    <div class="alert alert-danger" *ngIf="AddEquipeForm.get('tournoi')?.errors?.['required'] && AddEquipeForm.get('tournoi')?.touched">
      Veuillez sélectionner un tournoi.
    </div>
  
    <h5>Classement</h5> <!-- Adjusted form control label -->
    <input class="form-control" type="text" formControlName="classement"> <!-- Updated formControlName -->
 
    <div class="alert alert-danger" *ngIf="AddEquipeForm.get('classement')?.errors?.['required'] && AddEquipeForm.get('classement')?.touched">
      Le champ Classement est obligatoire.
    </div>
    <input type="submit"class="btn btn-primary" value="Save" (click)="save()"  [disabled]="AddEquipeForm.invalid">

    <!-- Adjusted submit button -->
 </form>
</ul></div> </div>
<app-footer></app-footer>