<app-navbar-produit>  </app-navbar-produit>
<!-- <div style="position: absolute; z-index: 1001;">
<app-navbar ></app-navbar>
</div> -->
 <!-- <app-div-home></app-div-home>  -->
<!-- <app-abonnementhome></app-abonnementhome> -->
<!-- <app-stadehome></app-stadehome> -->
 <!-- <app-sporthome></app-sporthome>  -->
<!------------------------------------------------------------------------------------>
<div>
  <label for="search">Rechercher un produit :</label>
  <!-- Utilisez la syntaxe de liaison de propriété pour récupérer la valeur de l'entrée -->
  <input type="text" id="search" placeholder="Rechercher un produit..." (input)="onSearch($event)">
</div>
<div *ngIf="filteredProducts.length > 0">
  <ul>
    <li *ngFor="let product of filteredProducts" (click)="selectProduct(product)">
      {{ product.nomProd }} <!-- Affichez le champ approprié ici, comme le nom du produit -->
    </li>
  </ul>
</div>




<ng-container >
<!------------------------------------------------------------------>

    <div class="shell">
      <div class="container">
        <div class="row">

          <div class="col-md-3" *ngFor="let p of produits">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img"><img [src]="p.image" alt="Product" class="img-responsive" /></div>
              <div class="wsk-cp-text">
                <div class="category">
                  
                  <span><a [routerLink]="['/detailProduit/', p.numProd]">Details</a></span>
                </div>
                <div class="title-product">
                  <h3>{{p.nomProd}}</h3>
                </div>
                <div class="description-prod">
                  <p>{{p.description}} </p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">{{p.prix}}</span></div>
                  <div class="wcf-right"><a (click)="ajouterAuPanier(p)" class="buy-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        

        <!---------------------- paggination ------------->
            <div class="footer-pagination">
              <div class="row">
                <div class="col-md-9" style="padding-left: 30%;">

                  <ngb-pagination [(page)]="currentPage"
                                  [pageSize]="pageSize"
                                 [collectionSize]="totalElements"                                    
                                  [rotate]="true"
                                  (pageChange)="listProduits3()">
                    
                  </ngb-pagination>
                </div>

              </div>
            </div>
        
        <!---------------------- paggination ------------->

      </div>
    </div>
    
<!------------------------------------------------------------------>


</ng-container>

<!-- <app-footer></app-footer> -->