<app-navbar-produit> </app-navbar-produit>

<div class="container-fluid" style="margin-top: 100px;">

  <table class="table" style="margin-top: 100px;">
    <thead class="thead-dark">
      <tr class="table-success">
        <th scope="col" width="2%">#</th>
        <th scope="col" width="12%"><h3>Image Produit</h3></th>
        <th scope="col" width="20%"><h3>Detail Produit</h3></th>
        <th scope="col" width="25%"><h3>Quantité</h3> </th>
        
        <th scope="col" width="8%"> Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of allPanierElement">
        <th scope="row">1</th>

        <td>
          <img [src]="produit.imageUrl" width="150px" alt="image produit" />


          <br />

        </td>

        <td>
          <p>{{ produit.name}}</p>
          <small>{{ produit.prixUnitaire | currency:'TND':'symbol':'1.3-3'}}</small>
          
          <div>
            <button (click)="supprimerDuPanier(produit)" class="btn btn-danger btn-sm mt-2">Remove</button>
          </div>
        </td>

        <td>
          <div>
            <label>Quantité:</label>
            <div class="row no-gutters">
              <div class="col">
                <button (click)="incrementQuantite(produit)" class="btn btn-primary btn-sm">
                  <i class="fas fa-plus"></i>
                </button>
              </div>

              <div class="col ml-4 mr-2">
                {{ produit.quantite }}
              </div>

              <div class="col">
                <button (click)="decrementQuantite(produit)" class="btn btn-primary btn-sm">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <div class="col-8"></div>
            </div>

          </div>


          

        </td>
        <dt>
          <div >
            <h4> {{ produit.prixUnitaire * produit.quantite}} DT </h4>
          </div>
          
        </dt>
        
      </tr>

      <tr>
        <td colspan="2"></td>
        <td style="font-weight: bold">
          <p>Total Quantite: {{ quantiteTotal }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ prixTotal }}DT</p>

          <div>
            <a routerLink="/validerPanier" class="btn btn-primary">Aller au Paiement</a>
          </div>
        </td>
      </tr>


    </tbody>
  </table>

</div>

<app-footer></app-footer>