<form (ngSubmit)="addEvent()" enctype="multipart/form-data">
    <div>
        <label for="nomevent">Nom de l'événement:</label>
        <input type="text" id="nomevent" name="nomevent" [(ngModel)]="event.nomevent" required>
    </div>
    <!-- Ajoutez d'autres champs d'événement selon vos besoins -->
    <div>
        <label for="image">Image:</label>
        <input type="file" id="image" (change)="onFileSelected($event)" name="image" accept="image/*" [(ngModel)]="image" required>
    </div>
    <button type="submit" routerLink="/eventsback" >Ajouter</button>
</form>
